.App {
    display: flex;
    background-color: #294730;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff8200;
    font-size: 30px;

}
.container{
    display: flex;
    width: 310px;
    height: 330px;
    flex-wrap: wrap;
    align-items: center;
    /*cursor: url("piz_normal_p1.cur"), auto ;*/
}

.item{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: #ff8200 1px solid;

}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    visibility: hidden;

}
.show{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    visibility: visible;

}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
